
<div class="header-container">
  <div class="image-container">
    <image></image>
  </div>
  <div class="input-group">
    <label class="input-label">Over Label</label>
    <input-text></input-text>
    <button>Submit</button>
  </div>
</div>

<menubar></menubar>

<div class="cards-container">
  <card></card>
  <card></card>
  <card></card>
</div>

<accordion-basic-demo></accordion-basic-demo>


<footer>
  <p>Diseñado por: Franklin Steven Villota Benavides - 223034083, Laura Sofía Ibarra Egas - 223034094</p>
</footer>